.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

#next {
    width: 30px;   
    left:150px;
    height:25px;
    position:absolute;
    display: block;
    background: url("next.jpg") 0px 0px ;
}

#next:hover {
    width: 30px;   
    left:150px;
    height:25px;
    position:absolute;
    display: block;
    background: url("nexthover.jpg") 0px 0px ;
}

#previous {
    width: 30px;   
    left:50px;
    height:25px;
    position:absolute;
    display: block;
    background: url("back.jpg") 0px 0px ;
}

#previous:hover {
    width: 30px;   
    left:50px;
    height:25px;
    position:absolute;
    display: block;
    background: url("backhover.jpg") 0px 0px ;
}

#pause {
    width: 30px;   
    left:100px;
    height:25px;
    position:absolute;
    display: block;
    background: url("pause.jpg") 0px 0px ;
}

#pause:hover {
    width: 30px;   
    left:100px;
    height:25px;
    position:absolute;
    display: block;
    background: url("pausehover.jpg") 0px 0px ;
}